---
import '../styles/global.css';
---

<div id="contact" class="mx-10 lg:mx-80 lg:mb-40 text-gray-800 scroll-mt-25">
    <span class="text-3xl lg:text-5xl font-bold flex flex-col items-center">Contact</span>
    <div class="mt-5 mb-10 lg:mt-10 flex flex-col items-center text-lg lg:text-xl">
        <div>For any questions, bug reports, or feature requests, please send an email to:</div>
        <div>contact.poscorrector@gmail.com</div>
    </div>
</div>