---
import '../styles/global.css';
---

<div id="contact" class="mx-80 mb-40 text-gray-800 scroll-mt-25">
    <span class="text-5xl font-bold flex flex-col items-center">Contact</span>
    <div class="mt-10 flex flex-col items-center text-xl">
        <div>For any questions, bug reports, or feature requests, please send an email to:</div>
        <div>contact.poscorrector@gmail.com</div>
    </div>
</div>