---
import '../styles/global.css';
const repoLink = "https://github.com/softmaximalist/PostureCorrector";
---

<div id="faq" class="px-6 lg:mx-70 mb-20 lg:mb-40 text-gray-800 scroll-mt-25">
    <span class="text-3xl lg:text-5xl font-bold flex flex-col items-center text-center">
        Frequently Asked Questions
    </span>
    
    <div class="flex flex-col justify-center">
        <ul class="text-lg/6 mt-10 lg:mt-20 space-y-6">
            <li class="flex border-2 border-gray-600 rounded-2xl p-6 lg:px-10 lg:pt-10 lg:pb-5">
                <div>
                    <div class="font-bold mb-4 text-xl lg:text-2xl">
                        The extension is not working. What can I do?
                    </div>
                    <div>
                        It is very likely that the permissions required by the extension are probably not granted. 
                        Follow the instructions below or 
                        <a href="" target="_blank" class="text-red-500 font-semibold">this video</a> 
                        to grant the required permissions. Once you 
                        set the required permissions, the extension should keep working without further
                        troubleshooting required.
                        <ol class="ml-4 lg:mx-5 mt-5 list-decimal">
                            <li>Go to your browsers "Manage extensions" page.</li>
                            <li>Find the PostureCorrector extension and click on the "Details" button.</li>
                            <li>Click on "Site settings".</li>
                            <li>Select "Allow" for the camera permission.</li>
                            <li>Select "Allow" for the notifications permission.</li>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="flex border-2 border-gray-600 rounded-2xl p-6 lg:px-10 lg:pt-10 lg:pb-5">
                <div>
                    <div class="font-bold mb-4 text-xl lg:text-2xl">
                        I am worried about my privacy. How can I trust this extension?
                    </div>
                    <div>
                        Your concern about your privacy is valid and understandable. I have tried my best to make a transparent software. 
                        First, the source code is publicly available on 
                        <a href={repoLink} target="_blank" class="text-red-500 font-semibold">GitHub</a> for review. 
                        Secondly, the extension has been listed on the Chrome Web Store for more than a year and have many active users
                        but there have been no negative review or complaint about privacy related issues. Lastly, note that the 
                        PostureCorrector extension runs entirely on your local machine. Your webcam footage, user statistics, etc are 
                        stored on your browser that only you can access. This also means that the extension never communicates with 
                        external servers. If you are still in doubt, you can try the extension without internet connection and you would
                        see that the extension still works. 
                    </div>
                </div>
            </li>

            <li class="flex border-2 border-gray-600 rounded-2xl p-6 lg:px-10 lg:pt-10 lg:pb-5">
                <div>
                    <div class="font-bold mb-4 text-xl lg:text-2xl">
                        Do you have any tips about PostureCorrector?
                    </div>
                    <div>
                        Yes, there are some small tips that would make your experience much better! First, whenever you move your webcam, 
                        computer, monitor, or your position slightly, go to the open browser tab (capture page) and save your new best posture.
                        This will help the extension to accurately detect your posture based on the your current environment. Secondly, you 
                        should always close the extension using the toggle button on the popup page (the small rectangle that opens on the top 
                        right corner of your screen). This gives the extension enough time to quickly update your posture statistics before 
                        closing the capture tab. Lastly,if the extension is slowing down your browser or you feel like the posture detection 
                        is not accurate enough, you can go the settings page to configure the extension. 
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>