---
import "../styles/global.css";
---

<div id="instructions" class="mx-80 mb-40 text-gray-800 scroll-mt-25">
    <span class="text-5xl font-bold flex flex-col items-center">How to use PostureCorrector</span>
    <div class="flex flex-col justify-center">
        <ul class="text-xl mt-15 space-y-3">
            <li class="flex">
                <span class="text-red-400 font-bold">1.</span>
                <span class="font-semibold pl-4">
                    Pin the PostureCorrector extension for easy access.
                </span>
            </li>
            <li class="flex">
                <span class="text-red-400 font-bold">2.</span>
                <span class="font-semibold pl-4">
                    Click on the extension icon to open the popup page and confirm that "default camera" is selected.
                </span>
            </li>
            <li class="flex">
                <span class="text-red-400 font-bold">3.</span>
                <span class="font-semibold pl-4">
                    Select your activity type. 
                </span>
            </li>
            <li class="flex">
                <span class="text-red-400 font-bold">4.</span>
                <span class="font-semibold pl-4">
                    Click on the toggle button to turn on the extension. This will open a new browser 
                    tab (capture page) and automatically switch to the new browser tab.
                </span>
            </li>
            <li class="flex">
                <span class="text-red-400 font-bold">5.</span>
                <span class="font-semibold pl-4">
                    In the capture page, select "forever" and click on "allow" to grant camera permission.
                </span>
            </li>
            <li class="flex">
                <span class="text-red-400 font-bold">6.</span>
                <span class="font-semibold pl-4"> 
                    Click on the save button while you are sitting in your best posture. 
                </span>
            </li>
            <li class="flex">
                <span class="text-red-400 font-bold">7.</span>
                <span class="font-semibold pl-4"> 
                    Don't close the capture page while using the extension. End the session by
                    using the toggle button to turn off the extension instead of directly closing the browser tab.
                </span>
            </li>
        </ul>
        <div class="mt-16 w-full flex justify-center">
            <div class="w-full max-w-4xl aspect-video">
                <iframe
                    src="https://www.youtube.com/embed/VIDEO_ID"
                    title="Demo Video"
                    loading="lazy"
                    class="w-full h-full rounded-xl"
                    allowfullscreen
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                ></iframe>
            </div>
        </div>
    </div>
</div>