---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta 
		    name="description" 
			content="The website for the PostureCorrector browser extension. 
			PostureCorrector is a lightweight extension that accurately detects 
			bad posture (i.e., slouching) in real-time and alerts users through desktop notifications.
			It can be used on most browsers by installing it through the Chrome Web Store or Mozilla Add-ons." />
		<link rel="preconnect" href="https://www.youtube.com">
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<title>PostureCorrector</title>
	</head>
	<body class="bg-white">
		<slot />
	</body>
</html>
